/*
    //-----> HTML
*/

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*
    //-----> UTILITIES
*/

.topBar{
    display: flex;
    padding: 40px 124px;
}
    .topBar__logo{
        min-width: 135px;
        max-width: 135px;
    }
    .topBar__nav{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 64px;
    }
        .topBar__nav a{
            color: black;
            display: block;
            text-decoration: none;
            font-weight: bold;
        }
    .topBar__btn{
        margin-left: auto;
    }

.header{
    display: flex;
    padding: 40px 124px;
    margin: auto;
}
    .header__title {
        font-size: 20px;
        font-weight: normal;
    }
    .header__second-title {
        font-size: 36px;
        font-weight: bold;
        min-width: 300px;
    }
    .header__image{
        min-width: 687px;
        min-height: 487px;
        max-width: 687px;
        max-height: 487px;
    }
    .header__btn{
        /* esto no deberia de hacer falta para que disdisplay: flex;*/
    }



.color-red {
    color: red;
}

.btn, .btn:visited {
    min-width: 127px;
    max-height: 48px;
    line-height: 48px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 2px 24px;
}
    .btn--white, .btn:visited{
        background-color: white;
        color: black;
        box-shadow: inset 0 0 0 1px black;
    }

    .btn + .btn {
        margin-left: 24px;
    }

/*
    //-----> UTILITIES
*/
.bg-pink {
    background-color: #FFD4D0;
}



